:root{
    --blue:rgba(70, 21, 232, 0.899);
    --white:#ffff;
    --blur:rgba(158, 202, 227, 0.722);
}
*{
    margin: 0;
    padding: 0;
}
.na{
    position: relative;
    top: 0;
}
a{
    text-decoration: none;
}
body{
     overflow-x: hidden;
    background-color: var(--white);

}
.Notesdivmain-one{
   height: auto;
   width: auto;
   position: fixed;
}
.Notesdivmain-page{
    margin-top: 100px;
    margin-left: 20px;
    height: 1000px;
    width: 2050px;
    background-color: var(--blur);
    margin-left: 100px;
    display: flex;
}
.Notesdivmain-page-left{
    height: 900px;
    width: 900px;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.notesheader-text{
    position: relative;
    top: 2%;
    left: 5%;
}
.notesheader-text h1{
    font-size: 40px;
    font-weight: 800;
}
.notesheader-course{
    position: relative;
    top: 3%;
    left: 5%;
}
.Notesdivmain-page-right{
    margin-left: 50px;
    margin-top: 10px;
    height: 800px;
    width: 800px;
    border-radius: 25px;
    background-color: var(--white);
}
.notes-course-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 5%;
    top: 4%;
    text-decoration: none;
}
.notes-course-detail h1{
    font-weight: 800;
}

.notes-course-detail-cse{
    height: 60px;
    width: 500px;
    border-radius: 22px;
    background-color: var(--white);
    text-align: center;
    text-transform: tranlare(-50% ,-50%);
}
.notes-course-detail-cse h2{
    padding-top: 15px;
}